<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="{dede:global.cfg_soft_lang/}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- Bootstrap -->
<link href="/template/default/skin/css/bootstrap.min.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="/skin/js/html5shiv.min.js"></script>
      <script src="/skin/js/respond.min.js"></script>
    <![endif]-->
<link href="/template/default/skin/css/style.css" rel="stylesheet">
<meta name="author" content="order by dede58.com/" />
<title>{dede:field.title/}_{dede:global.cfg_webname/}</title>
<meta name="keywords" content="{dede:field.keywords/}" />
<meta name="description" content="{dede:field.description function='html2text(@me)'/}" />
<meta name="robots" content="All">
<link rel="shortcut icon" href="/favicon.ico">
</head>
<body >
<!--头部 start-->
{include file="/default/head"}
{include file="/default/banner"}
<div class="ab_content">
  <div class="container ">
    <div class="about_company">
      <div class="title">
        <p>{dede:field.title/}</p>
      </div>
      <div class="note_content">
        <p>{dede:field.body/}</p>
      </div>
        
        
      </div>
    </div>
  </div>
</div>

{include file="default/footer"}
<script src="/template/default/skin/js/jquery-1.11.3.min.js" type="text/javascript"></script> 
<script src="/template/default/skin/js/bootstrap.min.js"></script> 
<script src="/template/default/skin/js/common.js" type="text/javascript"></script>
</body>
</html>
